
.section {
	min-width: 1366px;
	background-image: url(../images/bi.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Verdana', sans-serif;
	font-weight: 600;
	font-size: 26px;
}

.head {
	display: grid;
	grid-template-columns: 200px 155px;
	grid-template-rows: 100px;
	grid-column-gap: 55%;
	margin-left: 12%;
	align-items: center; 
	
}

.logo-text {
	text-transform: uppercase;
	color: #fff;
	margin-top: 20%;
	
}

.logo-text-1 {
	font-size: 1em;	
}

.logo-text-2 {
	font-size: .63em;
	font-weight: 600;
	margin-top: -28%;
}

.full-logo {
	display: grid;
	grid-template-columns: 50px 100px;
	grid-column-gap: 10px;
	align-items: center;
	margin-top: -20%;
}

.contact-inform {
	color: #fff;
	font-size: .5em;
	font-weight: 400;
	
}

.logo-image {
	opacity: 1;
	margin-top: 30px;	
}

.full-logo:hover .logo-image-hover {
	color: #f26522;
	transition: .5;
	opacity: 1;
}

.full-logo:hover .logo-text {
	color: #f26522;
	transition: .5;
	opacity: 1;
}

.logo-image-hover {
	opacity: 0;
	z-index: 1;
	margin-top: -156%;
}

.container {
	width: 77%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 auto;
	font-size: .6em;
	font-weight: 400;
	margin-top: -1.54%;	
}

.container-box {	
	margin: 30px 10px;
}

.container-box-img {
	border: 2px solid transparent;
     -webkit-border-image: -webkit-linear-gradient(#b5b4b4 0%, #191919 100%);
     -o-border-image: -o-linear-gradient(#b5b4b4 0%, #191919 100%);
     border-image: linear-gradient(#b5b4b4 0%, #191919 100%);
     border-image-slice: 1; 
}

 .copyright-information {
 	color: #fff;
 	display: grid;
 	text-align: center;
 	font-size: .5em;
	font-weight: 400;
 }


 .container-box-popup { 
		position: relative;
		overflow: hidden;
		width: 311px;
	}

	.container-box-popup-hide-element {
      	transition: 1s bottom;
  		position: absolute;
  		bottom: -63px;
  		height: 63px;
  		background-color: #f26522;
 		width: 100%;
  		line-height: 40px;
  		text-align: center;
  		color: #ffffff;
     }
	
	.container-box:hover .container-box-popup-hide-element	{
		bottom: 0;
	}

	.container-box:hover .container-box-text-inform {
		color: #f26522;
		transition: .1s;
	}

	 .container-box-popup-hide-element-text-left {
	 	line-height: 2;
		position: absolute;
		text-align: left;
		margin-left: 15px;
		margin-bottom: 40px; 
	}

	.container-box-popup-hide-element-text-right {
		position: relative;
		margin-top: -40px;
		margin-left: 145px;
	}

	.container-box-text-inform {
		opacity: 1;
		color: #fff;
		text-align: center;
	}